@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #0f0f0f, #151518, #1a1a20, #1d1f29, #202532, #1e2b3c, #1a3245, #0f394d, #004252, #004b52, #00544c, #005b41);
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 16px;
    color: white;
}

#header {
    margin-top: 20px;
    padding-left: 85px;
    padding-right: 85px;
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 999;
    border: 0px;
}

.background {
    background: #0f0f0f;
}

.header-item{
    color: white;
}

.nav-link.active {
    font-weight: 500;
    /* color:#008170; */
    opacity: 0.5;
}

.nav-link :hover {
    opacity: 0.5;
}


#DangKy {
    padding: 2px 20px;
    border-radius: 24px;
    border: 1px solid white;
    color: white;
}

#DangNhap {
    padding: 2px 20px;
    margin-left: 10px;
    border-radius: 24px;
    border: 1px solid white;
    color: white;
    background-color: #008170;
}

.club-infor h3 {
    font-family: 'Bungee';
    font-size: 40px;
}

.club-infor q {
    display: block;
    font-family: 'Amatic SC', sans-serif;   
    font-size: 20px;
}

.popular-activities, .favourite-posts{
    margin-top: 40px;
}


.popular-activities h2, .favourite-posts h2{
    font-family: 'Bungee';
}


.main {
    margin: 40px 85px 40px 85px;
}

.card {
    background-color: #0F0F0F;
    color: white;
}

#footer {
    background-color: #0f0f0f;
    height: 10px;
}

