@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif !important;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-image: linear-gradient(to right bottom, #0f0f0f, #151518, #1a1a20, #1d1f29, #202532, #1e2b3c, #1a3245, #0f394d, #004252, #004b52, #00544c, #005b41);
    font-size: 16px;
    background-repeat: no-repeat;
}

#header {
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 999;
    border: 0px;
}

.background {
    background: #0f0f0f;
}

.container-fluid {
    padding: 0px;
}

a {
    text-decoration: none !important;
    font-size: 16px;
    color: #F2ECFF !important;
}

a:hover {
    opacity: 0.5;
    transition: 0.5 ease-out;
}

#logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
}

.nav-item>a {
    margin-left: 2em;
    margin-right: 2em;
    color: #F2ECFF;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -1px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-item {
    color: black !important;
}


button[type="button"] {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.burger-menu>span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
    transform-origin: 6px 1px;
}

.burger-menu>span:nth-child(1) {
    margin-top: 6px;
}

.burger-menu>span:not(:last-child) {
    margin-bottom: 3px;
}

.main {
    margin: 0px 120px;
}

.row {
    margin: 0.5em 2em;
    padding: 0.5em;
    width: 100%;
    align-items: center;
}


.card {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.list-group-item {
    overflow-y: scroll;
    margin-bottom: 5px;
}

.taskGroup {
    background-color: #719098;
    border-radius: 20px;
}

.bar1,
.bar2,
.bar3 {
    width: 27px;
    height: 0.5px;
    background-color: #fbfbfb;
    margin: 5px 0;
    transition: 0.4s;
}

.task {
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px black solid;
}